.contactPart1 {
    padding: 20px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-size: cover;
    min-height: 250px;
    color: white;
    @media screen and (max-width: 768px) {
        background-position: center;
        background-attachment: scroll;
        min-height: auto;
    }
}

.contactPart1 h1 {
    margin-left: 80px;
    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

.contactInformationborder {
    position: relative;
    min-height: 300px;
}

.contact-btn {
  position: absolute;
  bottom: auto;
  right: 25px;
}

/* .contact-btn {
    @media screen and (max-width: 1024px) {
        bottom: auto;
    }
} */

.contactHeading {
    background-color: #f1f1f1;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 1400px) {
  .table td, .table th {
    white-space: normal !important;
    word-wrap: break-word;
    word-break: break-word;
    font-size: small;
  }

  .table {
    table-layout: fixed;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .table td, .table th {
    white-space: normal !important;
    word-wrap: break-word;
    word-break: break-word;
    font-size: smaller;
  }

  .table {
    table-layout: fixed;
    width: 100%;
  }
}

iframe {
    @media screen and (max-width: 1400px) {
        width: 420px;
    }

    @media screen and (max-width: 992px) {
        width: 300px;
    }

    @media screen and (max-width: 767px) {
        width: 320px;
    }

    @media screen and (max-width: 376px) {
        width: 240px;
    }
}
