.investorRelationPart1 {
    padding: 20px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-size: cover;
    min-height: 250px;
    color: white;
    @media screen and (max-width: 768px) {
        background-position: center;
        background-attachment: scroll;
        min-height: auto;
    }
}

.investorRelationPart1 h1 {
    margin-left: 140px;
    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

.investorRelationPart2 {
    text-align: left;
}

.investorRelationPart2_1 {
    background-color: lightgray;
    border-radius: 5px;
    max-height: 550px;
    overflow-y: auto;
    padding-right: 10px;
}